# Python compilation
__pycache__

# Virtual Environments
env/
venv/
.venv/

# Environment Variables (Remove trailing slash to match files)
.env
.env.example
poll-service/.env
vote-service/.env


# OS specific
.DS_Store